{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}
<header id="site-head" class="jumbotron" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
  <div class="container">
    <div id="site-head-content" class="inner">
      <a id="blog-logo" href="{{@blog.url}}">
        {{#if @blog.logo}}
          <img src="{{@blog.logo}}" alt="{{@blog.title}} Logo" />
        {{else}}
          {{@blog.title}}
        {{/if}}
      </a>
    </div>
  </div>
</header>

{{! The main content area on the homepage }}
<main class="container" role="main">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      {{! Each post will be output using this markup }}
      {{#foreach posts}}

      <article class="{{post_class}}">
        <header class="post-header">
          <span class="post-meta">
            <time datetime="{{date format='MM-DD-YYYY'}}">{{date format="MMMM DD, YYYY"}}</time>
          </span>
          <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>

        </header>
        <section class="post-excerpt">

          {{! Features Image Workaround }}
          <p>{{excerpt}}&hellip;</p>
          {{content words="0"}}

          {{!-- <button type="button" href="{{url}}" class="btn btn-primary">Continue Reading</button> --}}
        </section>
        {{#if tags}}<div class="tags">Tagged in: {{tags}}</div>{{/if}}
      </article>

      {{/foreach}}

      {{!! After all the posts, we have the previous/next pagination links }}
      {{pagination}}

    <div>
  </div>
</main>
